<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <!-- ... -->
    <meta id="token" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="headerName" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- ... -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Bilde</title>
    <script src="exif.js"></script>
    <script>
        /*<![CDATA[*/
        window.onload=getExif;

        function getExif() {
            var bilde = document.getElementById("bilde");
            EXIF.getData(bilde, function() {
                var kam = document.getElementById("kamera");
                var opplosn = document.getElementById("opplosning");
                var farge = document.getElementById("farge");
                var iso = document.getElementById("iso");
                var bits = document.getElementById("bits");
                var dato = document.getElementById("tatt");

                var kamera = EXIF.getTag(this, "Model");
                var bredde = EXIF.getTag(this, "PixelXDimension");
                var hoyde = EXIF.getTag(this, "PixelYDimension");
                var isoen = EXIF.getTag(this, "ISOSpeedRatings");
                var tid = EXIF.getTag(this, "DateTimeOriginal");

                kam.innerHTML ="Kamera: "+kamera;
                opplosn.innerHTML = "Oppløsning: "+bredde+"x"+hoyde;
                iso.innerHTML = "ISO: "+isoen;
                dato.innerHTML= "Tatt: "+tid;
            });
        }

        function lagreKommentar(id) {
            var token = document.getElementById("token").getAttribute("content");
            var headerName = document.getElementById("headerName").getAttribute("content");
            var nynavn = document.getElementById("navn");
            var nykommentar = document.getElementById("kommentar");
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    nynavn.value="";
                    nykommentar.value="";
                    json = JSON.parse(xmlHttp.responseText);
                    console.log(JSON.stringify(json));
                    var div = document.getElementById("kommentarer");
                    var linje = document.createElement("text");
                    var nydiv = document.createElement("div");
                    var tid = document.createElement("p");
                    var navn = document.createElement("p");
                    var kommentar = document.createElement("p");
                    linje.innerHTML = "____________________________________";
                    tid.innerHTML = Date(json.tid);
                    navn.innerHTML = json.navn;
                    kommentar.innerHTML = json.kommentar;
                    nydiv.appendChild(linje);
                    nydiv.appendChild(tid);
                    nydiv.appendChild(navn);
                    nydiv.appendChild(kommentar);
                    div.appendChild(nydiv);
                }
            };
            xmlHttp.open("POST", "/kommentar", true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlHttp.setRequestHeader(headerName, token);
            xmlHttp.send("id=" + id + "&navn=" + nynavn.value + "&kommentar=" + nykommentar.value);
        }
        /*]]>*/
    </script>
</head>
<body>
    <h1 th:text="${bilde.tittel}"></h1>
    <a href="/home">Hjem</a>
    <br/>
    <img style="max-width: 1000px" th:src="@{/files/}+${bilde.filnavn}" id="bilde" th:name="${bilde.id}"/>
    <div id="metadata">
        <h2>Metadata</h2>
        <div>Fotograf: <span th:text="${bilde.fotografnavn}"></span></div>
        <div><span id="kamera"></span> </div>
        <div><span id="opplosning"></span></div>
        <div>Bildeformat: <span id="type" th:text="${bilde.filtype}"></span></div>
        <div><span id="iso"></span></div>
        <div><span id="tatt"></span></div>
        <div >Størrelse: <span id="storrels" th:text="${bilde.storrelse}+kb"></span> </div>
        <div>Lastet opp: <span id="opplast" th:text="${bilde.dato}" ></span></div>
    </div>
    <form>
        <div id="komm">
            <h2>Kommentarer</h2>
            <input type="text" placeholder="Skriv inn navn" id="navn" />
            <textarea id="kommentar" placeholder="Skriv inn kommentar"></textarea>
            <input th:id="${bilde.id}" type="button" value="Lagre" onclick="lagreKommentar(this.id)" />
        </div>
    </form>
    <div id="kommentarer" >
        <div th:each="k : ${bilde.kommentarer}" >
            <div th:id="${k.id}">
                <text>____________________________________</text>
                <h3 th:text="${k.dato}"></h3>
                <h3 th:text="${k.navn}+': '"></h3>
                <h3 th:text="${k.kommentar}"></h3>
            </div>
        </div>
    </div>
</body>
</html>