<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Bilde</title>
    <script>
        /*<![CDATA[*/


        /*]]>*/
    </script>
</head>
<body>
    <h1 th:text="${bilde.tittel}"></h1>
    <a th:text="${bilde.fotografId}" th:href="@{/home}"></a>
    <br />
    <img th:src="@{/files/}+${bilde.id}" />
    <form>
        <div><label> Navn: <br/><input type="text" id="navn" /></label></div>
        <div><label> Skriv inn kommentar: <br /><textarea id="kommentar"></textarea></label></div>
        <input type="submit" value="Lagre" />
    </form>
<div th:if="${bilde.kommentarer != null}" id="kommentarer" >
    <div th:each="k : ${bilde.kommentarer}" >
        <text>____________________________________</text>
        <p th:text="${k.dato}"></p>
        <p th:text="${k.navn}"></p>
        <p th:text="${k.kommentar}"></p>
    </div>
</div>


</body>
</html>