<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Fotograf</title>
</head>
<body>
    <h1>Fotograf</h1>
    <button id="nyttFoto" onclick="location.href='/nyttbilde'">Legg til bilde</button>

    <div id="lista" >
        <div th:each="f : ${liste}">
            <text>-------------------------------</text>
            <br/>
            <p th:text="${f.tittel}" />
            <img style="max-width: 100px" th:src="@{/files/}+${f.id}" />
        </div>
    </div>

</body>
</html>