<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <!-- ... -->
    <meta id="token" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="headerName" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- ... -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Fotograf</title>
    <script>
        /*<![CDATA[*/
        function slett(id) {
            var xmlHttp = new XMLHttpRequest();
            var token = document.getElementById("token").getAttribute("content");
            var headerName = document.getElementById("headerName").getAttribute("content");
            xmlHttp.onreadystatechange = function () {
                if(xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    var slettdiv= document.getElementById(id);
                    if (xmlHttp.responseText == "slettet"){
                        //window.alert("Slettet");
                        slettdiv.parentNode.removeChild(slettdiv);
                    }
                    else {
                        window.alert("Noe ble feil!");
                    }
                }
            };
            xmlHttp.open("POST", "/delete", true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlHttp.setRequestHeader(headerName, token);
            xmlHttp.send("id="+id);
        }
        /*]]>*/
    </script>

</head>
<body>
    <h1 th:inline="text">Fotograf innlogget som: '[[${#httpServletRequest.remoteUser}]]'</h1>
    <button id="nyttFoto" onclick="location.href='/nyttbilde'">Legg til bilde</button>

    <div id="lista" >
        <div th:each="f : ${liste}">
            <div th:id="${f.id}" >
                <br/>
                <text>-------------------------------</text>
                <br/>
                <p th:text="${f.tittel}" />
                <a th:href="@{/rediger?id=}+${f.id}">
                    <img th:src="@{/files/}+${f.filnavn}" style="max-width: 100px" />
                </a>
                <br/>
                <button th:name="${f.id}" id="slettKnapp" onclick="slett(this.name)">Slett</button>
            </div>

        </div>
    </div>

</body>
</html>