<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script>
        /*<![CDATA[*/
            function sok() {
                var sokeord = document.getElementById("sokefelt").value;
                if (sokeord.length >= 2){
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = function () {
                        var tabell = document.getElementById("tabell");
                        tabell.innerHTML="";
                        if(xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                            json = JSON.parse(xmlHttp.responseText);
                            if ( json.length > 0 ) {
                                var rad1 = document.createElement("tr");
                                var celle1 = document.createElement("th");
                                var celle2 = document.createElement("th");
                                var celle3 = document.createElement("th");
                                var celle4 = document.createElement("th");
                                var fotgrf = document.createTextNode("Fotograf");
                                var titl = document.createTextNode("Tittel");
                                var tags = document.createTextNode("Tagger");
                                var bild = document.createTextNode("Bilde");
                                celle1.appendChild(fotgrf);
                                celle2.appendChild(titl);
                                celle3.appendChild(tags);
                                celle4.appendChild(bild);
                                rad1.appendChild(celle1);
                                rad1.appendChild(celle2);
                                rad1.appendChild(celle3);
                                rad1.appendChild(celle4);
                                tabell.appendChild(rad1);
                                var i = 1;
                                json.forEach(function (obj) {
                                    var rader = tabell.insertRow(i);
                                    var celler1 = rader.insertCell(0);
                                    var celler2 = rader.insertCell(1);
                                    var celler3 = rader.insertCell(2);
                                    var celler4 = rader.insertCell(3);
                                    var fotograf = document.createElement("a");
                                    fotograf.href = '/finn?fgraf=' + obj.fotografId;
                                    fotograf.text = obj.fotografnavn;
                                    var tittelen = document.createTextNode(obj.tittel);
                                    if (obj.tags.length > 0) {
                                        obj.tags.forEach(function (tg) {
                                            var a = document.createElement("a");
                                            var span = document.createElement("span");
                                            a.href = "/tag?tag=" + tg;
                                            span.innerHTML = tg;
                                            span.setAttribute("style", "font-size: 15px; padding: 3px;");
                                            a.appendChild(span);
                                            celler3.appendChild(a);
                                        });
                                    }
                                    var img = document.createElement("img");
                                    img.src = "files/" + obj.filnavn;
                                    img.setAttribute("style", "max-width: 175px; max-height: 175px;");
                                    img.onclick = function (event) {
                                        window.location.href = "/bilde?bilde=" + obj.id;
                                    };
                                    celler1.appendChild(fotograf);
                                    celler2.appendChild(tittelen);
                                    celler4.appendChild(img);
                                });
                            }
                        }
                    };
                    xmlHttp.open("GET", "/sok?sokeord="+sokeord, true);
                    xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xmlHttp.send();
                }
            }
        /*]]>*/
    </script>
</head>
<body>
    <h1>Fotoalbum</h1>
    <input type="submit" id="innlogging" value="Innlogging Fotograf" onclick="location.href='/fotograf'"/>
    <input type="text" id="sokefelt" class="sokfelt" placeholder="Skriv inn ønsket søk" onkeyup="sok()"/>
    <input type="submit" value="Søk" class="sokfeltknapp" onclick="sok()"/>
    <br/>
    <table id="tabell" >
        <tr th:if="${liste}" >
            <th>Fotograf</th>
            <th>Tittel</th>
            <th>Tagger</th>
            <th>Bilde</th>
        </tr>
        <tr th:each="f : ${liste}">
            <td ><a th:href="@{'/finn?fgraf='}+${f.fotografId}" th:text="${f.fotografnavn}"></a></td>
            <td th:text="${f.tittel}"></td>
            <td >
                <a th:each="k : ${f.tags}" th:href="@{'/tag?tag='}+${k}"><span th:text="${k}" style="font-size: 15px"></span></a>
            </td>
            <td ><a th:href="@{/bilde?bilde=}+${f.id}"><img th:src="@{/files/}+${f.filnavn}" style="max-width: 175px; max-height: 175px" /></a></td>
        </tr>
    </table>
</body>
</html>