<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script>
        /*<![CDATA[*/
            function sok() {
                var sokeord = document.getElementById("sokefelt").value;
                if (sokeord.length >= 2){
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = function () {
                        var liste = document.getElementById("liste");
                        if(xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                            json = JSON.parse(xmlHttp.responseText);
                            liste.innerHTML="";
                            json.forEach(function (entry) {
                                var li = document.createElement("li");
                                var img = document.createElement("img");
                                img.src="files/"+entry.id;
                                img.hight=100;
                                img.width=100;
                                li.innerHTML= entry.tittel;
                                li.appendChild(img);
                                liste.appendChild(li);
                            });
                        }
                    };
                    xmlHttp.open("GET", "/sok?sokeord="+sokeord, true);
                    xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xmlHttp.send();
                }
            }
        /*]]>*/
    </script>
</head>
<body>
    <h1>Fotoalbum</h1>
    <input type="button" id="innlogging" value="Innlogging Fototgraf"/>
    <h2>Søkefelt</h2>
        <input type="text" id="sokefelt" pattern="[a-zA-Z]{2}" onkeyup="sok()"/>
        <input type="submit" value="Søk" onclick="sok()"/>

    <ul id="liste">
    </ul>
</body>
</html>