<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/styleLogin.css"/>
    <title>Ny Bruker</title>
</head>
<body>
    <div th:if="${error}">
        <h2>Brukernavnet finnes allerede!</h2>
    </div>
    <div th:if="${lagret}">
        <h2>Bruker opprettet!</h2>
        <br />
        <a href="/login">Logg inn</a>
    </div>
    <form th:action="@{/nybruker}" method="post">
        <div>
            <h1>Registrer ny bruker</h1>
            <input type="text" required="required" placeholder="Fornavn" name="fornavn"/>
            <input type="text" required="required" placeholder="Etternavn" name="etternavn"/>
            <input type="text" required="required" placeholder="Brukernavn" name="brukernavn"/>
            <input type="password" required="required" placeholder="Passord" name="passord"/>
            <input type="submit" value="Opprett bruker"/>
        </div>
    </form>
</body>
</html>