<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <!-- ... -->
    <meta id="token" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="headerName" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- ... -->
    <title>Bilde</title>
    <script src="exif.js"></script>
    <script>
        /*<![CDATA[*/
        function slettKommentar(id) {
            var token = document.getElementById("token").getAttribute("content");
            var headerName = document.getElementById("headerName").getAttribute("content");
            var bilde = document.getElementById("bilde").name;
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    console.log(xmlHttp.responseText);
                }
            };
            xmlHttp.open("POST", "/kommentar/slett", true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlHttp.setRequestHeader(headerName, token);
            xmlHttp.send("id="+id+"&bilde="+bilde);
        }

        function lagre(){
            var token = document.getElementById("token").getAttribute("content");
            var headerName = document.getElementById("headerName").getAttribute("content");
            var bilde = document.getElementById("bilde").name;
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    console.log(xmlHttp.responseText);
                }
            };
            xmlHttp.open("POST", "/kommentar/slett", true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlHttp.setRequestHeader(headerName, token);
            xmlHttp.send("id="+id+"&bilde="+bilde);
        }
        function fjern(id) {
            console.log(id);
            var rad = document.getElementById("rad");
            var fjerntag = document.getElementById(id);
            rad.removeChild(fjerntag);
        }
        function lagreTagger() {
            var token = document.getElementById("token").getAttribute("content");
            var headerName = document.getElementById("headerName").getAttribute("content");
            var rad = document.getElementById("rad");
            var liste = new Array();
            console.log(rad.childElementCount)
            for ( var i= 0; i < rad.childElementCount; i++){
                console.log(rad.cells[i].id);

                //liste.push(cell.value);
            }
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    console.log(xmlHttp.responseText);
                }
            };
            xmlHttp.open("POST", "/endre", true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlHttp.setRequestHeader(headerName, token);
            xmlHttp.send("tags="+liste);
        }
        /*]]>*/
    </script>
</head>
<body>
<h1>Redigering</h1>
<a href="/fotograf">Hjem</a>
<h2 th:text="'Bilde tittel: '+${bilde.tittel}" th:name="${bilde.tittel}"></h2>
<br />
<table id="tabell" style="max-width: 30px;" >
    <tr id="rad" >
        <td th:each="tag : ${bilde.tags}" th:name="${tag}" th:value="${tag}" th:id="${tag}">
            <text th:text="${tag}" th:onclick="'javascript:fjern(\'' + ${tag} +'\');'" ></text>
        </td>
    </tr>
</table>
<br/>
<button onclick="lagreTagger()">Lagre tagger</button>

<img style="max-width: 1000px" th:src="@{/files/}+${bilde.filnavn}" id="bilde" th:name="${bilde.id}"/>

<div id="kommentarer" >
    <div th:each="k : ${bilde.kommentarer}" >
        <div th:id="${k.id}">
            <text>____________________________________</text>
            <p th:text="${k.dato}"></p>
            <p th:text="${k.navn}+': '"></p>
            <p th:text="${k.kommentar}"></p>
            <button th:name="${k.id}" onclick="slettKommentar(this.name)">Slett</button>
        </div>
    </div>
</div>


</body>
</html>