<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <!-- ... -->
    <meta id="token" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="headerName" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- ... -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Rediger</title>
    <script src="/script/exif.js"></script>
    <script>
        /*<![CDATA[*/
        function slettKommentar(id) {
            var token = document.getElementById("token").getAttribute("content");
            var headerName = document.getElementById("headerName").getAttribute("content");
            var bilde = document.getElementById("bilde").name;
            var kommentar = document.getElementById(id);
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    console.log(xmlHttp.responseText);
                    kommentar.parentNode.removeChild(kommentar);
                }
            };
            xmlHttp.open("POST", "/kommentar/slett", true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlHttp.setRequestHeader(headerName, token);
            xmlHttp.send("id="+id+"&bilde="+bilde);
        }

        function lagre(){
            var token = document.getElementById("token").getAttribute("content");
            var headerName = document.getElementById("headerName").getAttribute("content");
            var bilde = document.getElementById("bilde").name;
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    console.log(xmlHttp.responseText);
                }
            };
            xmlHttp.open("POST", "/kommentar/slett", true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlHttp.setRequestHeader(headerName, token);
            xmlHttp.send("id="+id+"&bilde="+bilde);
        }
        function fjernTag(id) {
            console.log(id);
            var rad = document.getElementById("rad");
            var fjerntag = document.getElementById(id);
            rad.removeChild(fjerntag);

        }
        function leggTilTag() {
            var tag = document.getElementById("nytag");
            var nytag = tag.value;
            var rad = document.getElementById("rad");
            var nycelle = document.createElement("td");
            var tekst = document.createElement("text");
            if ( nytag != ""){
                nycelle.id=nytag;
                tekst.innerHTML=nytag;
                tekst.setAttribute("onclick", "fjernTag(this.parentNode.id)");
                nycelle.appendChild(tekst);
                rad.appendChild(nycelle);
                tag.value="";
            }
            console.log(nytag);
        }

        function lagreEndring() {
            var token = document.getElementById("token").getAttribute("content");
            var headerName = document.getElementById("headerName").getAttribute("content");
            var tittel = document.getElementById("tittel").value;
            var id = document.getElementById("tittel").name;
            console.log(id);
            var rad = document.getElementById("rad");
            var liste = new Array();
            for ( var i= 0; i < rad.childElementCount; i++){
                var tag = rad.cells[i].id;
                liste.push(tag);
            }
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    console.log(xmlHttp.responseText);
                }
            };
            xmlHttp.open("POST", "/rediger", true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlHttp.setRequestHeader(headerName, token);
            xmlHttp.send("id="+id+"&tittel="+tittel+"&tags="+liste);
        }
        function angre() {
            history.go(0);

        }
        /*]]>*/
    </script>
</head>
<body>
    <h1>Redigering</h1>
    <a href="/fotograf">Hjem</a>
    <div id="redi">
        <h2 th:text="'Bilde tittel: '+${bilde.tittel}" th:name="${bilde.tittel}"></h2>
        <h4>Endre tittel</h4>
        <input type="text" th:name="${bilde.id}" id="tittel" th:value="${bilde.tittel}" />
        <h4>Trykk på tag for å slette</h4>
        <table id="tabell" >
            <tr id="rad" >
                <td th:each="tag : ${bilde.tags}" th:id="${tag}">
                    <text th:text="${tag}" onclick="fjernTag(this.parentNode.id)" ></text>
                </td>
            </tr>
        </table>
        <input id="nytag" type="text" placeholder="Skriv inn ny tag"/><button class="knapp" onclick="leggTilTag()">Legg til tag</button>
        <br/>
        <br/>
        <button class="knapp" id="la" onclick="lagreEndring()">Lagre endring</button>
        <button class="knapp" id="an" onclick="angre()">Angre</button>
        <br/>
    </div>
    <br/>
    <br/>
    <img style="max-width: 1000px" th:src="@{/files/}+${bilde.filnavn}" id="bilde" th:name="${bilde.id}"/>

    <div id="kommentarer" >
        <div th:each="k : ${bilde.kommentarer}" >
            <div th:id="${k.id}">
                <text>____________________________________</text>
                <p th:text="${k.dato}"></p>
                <p th:text="${k.navn}+': '"></p>
                <p th:text="${k.kommentar}"></p>
                <button th:name="${k.id}" class="knapp" onclick="slettKommentar(this.name)">Slett</button>
            </div>
        </div>
    </div>


</body>
</html>